<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="container">

      <form action="/cards" method="post">
        <input type="number" name="mana" value="" placeholder="Mana">
        <input type="number" name="attack" value="" placeholder="Attack">
        <input type="number" name="health" value="" placeholder="Health">
        <input type="text" name="description" value="" placeholder="Name/Description">
        <input type="submit">
      </form>

      <div class="container">
        <h3>Your current list:</h3>

        <% for(var i = 0; i < deck.length; i++) { %>
          <hr>
        <div class="cards">
          <p>Mana: <%= deck[i].mana%></p>
          <p>Attack: <%= deck[i].attack%></p>
          <p>Health: <%= deck[i].health%></p>
          <p>Description: <%= deck[i].description %></p>
          <a href="/cards/remove/<%=deck[i].id%>">Remove from List</a>
        </div>

        <%}%>

        <hr>
        <h1>ALL CARDS:</h1>
        <% for(var i = 0; i < cards.length; i++) { %>
        <div class="cards">
          <hr>
          <p>Mana: <%= cards[i].mana%></p>
          <p>Attack: <%= cards[i].attack%></p>
          <p>Health: <%= cards[i].health%></p>
          <p>Description: <%= cards[i].description %></p>
          <a href="/cards/add/<%= cards[i].id%>">Add to List</a>
        </div>

        <%}%>

      </div>

    </div>
  </body>
</html>
